@font-face{
    font-family:ZenDots;
    src: url(../fonts/ZenDots-Regular.ttf);
}

html{
    height: 100%;
}
body{
    --thumbnails-image-widht : 25vw;
    --thumbnails-image-height: 30vw;
    --lambo-class-widht:80vw;
    --lambo-class-height: 60vw;
    --thumbnails-title-height: calc (var(--thumbnails-image-height) * 0.2);
}
body{
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-size: 100em;
    background: url(../images/blue.jpeg);
    background-size: cover;
    margin: 0;
}
.logo{
    display:flex;
    font-size: 50rem;
    background: url(../images/images.png);
    background-size: cover;
    width: 40%;
    height: 10%;
    margin-left: 0vh;
}
.details-frame{
    position: relative;
}
.title-logo{
    display: inline-flex;
    justify-content: end;
}
.main-class{
    display: flex;
    flex-direction: column;
}
.anotation{
    bottom: 0vh;
    left: 40%;
    position: absolute;
    font-family: ZenDots;
    background-color : rgb(28, 120, 219)   
}
.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lambo-class{
    display: block;
    width: var(--lambo-class-widht);
    height:var(--lambo-class-height);
    margin-left: auto;
    margin-right: auto
}
.thumbnails-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 45vh;
    overflow-y:scroll;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0;
    font-family: ZenDots;
}
.thumbnails-anchor{
 text-decoration: none;
}
.thumbnails-item{

border: solid 1px black;
 margin-top: 10vh;
 border-radius: 25%;
 overflow: hidden;
 margin-left: 1vw;
}
.thumbnails-item:hover{
    transform: scale(1.1);
}
.thumbnails-image{
    display: block;
    width: 25vw;
    height: 15vw;
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: rgb(28, 120, 219)
    
  
}
@media(min-width:560px){
    body{
    --thumbnails-image-width: 10vw;
    --thumbnails-image-height: 5vw;
    --thumbnails-title-height: calc (var(--thumbnails-image-height) * 0.2);
    --lambo-class-width: 45vw;
    --lambo-class-height: 35vw;
}
    .main-class{
        flex-direction:row;
        justify-content: center;  
    }
    .thumbnails-item{
        min-height: 18vw;
    }
    .thumbnails-list{
        order: -1;
        flex-direction: column;
        flex-wrap:nowrap;
        max-height: 80vh;
        max-width: 22vw;
        justify-content: flex-start;
        padding-right:95px;
    }
    .lambo-class{
        max-width: 60vw;
        max-height: 40vw;
    }
    .thumbnails-image {
        width: 20vw;
        height: 15vw;  
    }
    .thumbnails-title{
        text-transform: uppercase;
        min-height: 10vh;
        display: block;
        text-align: center;
        background-color: rgb(28, 120, 219)
    }
    .logo{
        display:flex;
         font-size: 10vh;
         background-size: cover;
         width: 25vh;
        height: 40vh;
    }
    @media (min-width: 1000px) {
        .details-container {
            margin-top: 4vh;
            margin-right: 5vw;
        }    
        .thumbnails-list {
            
            margin-top: 2.5vh;
            max-height: 86vh;
        }
        .thumbnails-title {
            font-size: 1.5em;
        }
    }
}
