.main-bord{

display: flex;
flex-direction: row;
}
.chess-section{
   
    display:flex;
    align-items: center;
    flex-direction:row
}
.white{
   
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: white;
    font-size: 5vw;
    text-align: center;

}
.full{
    
    width: 5vw;
    height:5vw;
    border: solid 1px gray;
    background-color: brown;
    font-size: 5vw;
    text-align: center;
}
body{

background: url(img/chess3.jpeg);
background-size: cover;
background-repeat: no-repeat;
margin-right: 16px;
margin-top: 115px;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}
.style{
    font-size: 1vw;
    display: inline;
    padding-left: 4.1vw;
    justify-content: center;
}
.numbers{
    font-size: 1vw;
    
    justify-content: center;
    margin-right: 20px;
    display:inline
}
html{
    height: 100%;
    width: 100%;
}


