.main-bord{
display: flex;
flex-direction: row;
}
.chess-section{
    display:flex;
    align-items: center;
    flex-direction:row
}
.white{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: white;
    font-size: 60px;
    text-align: center;

}
.full{
    width: 5vw;
    height:5vw;
    border: solid 1px gray;
    background-color: brown;
    font-size: 60px;
    text-align: center;
}
body{
background: url(img/chess3.jpeg);
background-size:100%;
background-repeat: no-repeat;
margin-right: 16px;
margin-top: 115px;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}
.style{
  page-break-inside: auto;
    padding-left: 1.5px;
    padding-right: 1.2px;
    align-content: row;
    margin: 29px;
    align-items: center;
    justify-content: center;
}
.numbers{
    justify-content: center;
    margin-right: 20px;
    display:inline
}


