html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-size: 100em;
    background: url(/images/blue.jpeg);
    background-size: cover;
    margin: 0;
}
.logo{
    display: block;
    background-color: transparent;
    font-size: 5vw;
    color:red;
    background: url(/images/images.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logo-image{
    display: block;
    justify-content: left;
    width: 20vw;
    height: 15vw;
    border-radius: 100%;
    background-size: cover;
    background-position: center;

}
.main-class{
    display: flex;
    flex-direction: column;
}
.anotation{
    display:block;
    text-align: center;
    background-color : rgb(131, 211, 70);
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lambo-class{
    width: 100vw;
    height:70vw
}
.details-image{
    width: 60vw;
    height: 50vw;
}
.details-title{
    display: block;
    background-color: black;
}
.thumbnails-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow-y:scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    
}
.thumbnails-anchor{
    display: block;
    align-items: center;
}
.thumbnails-item{
border: solid 1px black;
 margin-top: 2vh;
 border-radius: 25%;
 overflow: hidden;
}

.thumbnails-image{
    display: block;
    width: 25vw;
    height:15vw;
    
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: rgb(131, 211, 70);;
  
}
